.flow > * {
    --flow-size: 1rem;
}

.flow--smaller > * {
    --flow-size: 0.33rem;
}

.flow--small > * {
    --flow-size: 0.66rem;
}

.flow--large > * {
    --flow-size: 3rem;
}

.flow--larger > * {
    --flow-size: 5rem;
}

.flow > * + * {
    margin-top: var(--flow-size);
}
