.text--secondary {
    color: var(--color-grey11);
}

.text--bold {
    font-weight: bold;
}

.text--italic {
    font-style: italic;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--left {
    text-align: left;
}

.text--smaller {
    font-size: 0.8em;
}

small,
.text--small {
    font-size: 0.9em;
}

.text--big {
    font-size: 1.2em;
}

blockquote {
    margin-left: 0;
    padding: 0.2rem 0.2rem 0.2rem 1rem;

    color: var(--color-primary11);

    background-color: var(--color-primary3);
    border-left: 5px solid var(--color-primary9);
    border-radius: 5px;
}

code {
    padding: 0.1rem 0.3rem;

    color: var(--color-primary11);

    background-color: var(--color-primary3);
    border-radius: 5px;
}

pre {
    overflow: auto;

    padding: 1rem;

    color: var(--color-primary1);

    background-color: var(--color-primary12);
    border-radius: 5px;
}

pre code {
    padding: 0;

    color: inherit;

    background-color: transparent;
}

.text--spaced h1 {
    margin-top: 1.17em;
    margin-bottom: 0.67em;
}

.text--spaced h2 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

.text--spaced h3 {
    margin-top: 1.33em;
    margin-bottom: 0.83em;
}

.text--spaced p,
.text--spaced ul,
.text--spaced ol {
    margin-top: 1.12em;
    margin-bottom: 1.12em;
}
