.wrapper {
    --wrapper-max-width: 1000px;

    max-width: var(--wrapper-max-width);
}

.wrapper--text {
    --wrapper-max-width: 55ch;
}

.wrapper--smaller {
    --wrapper-max-width: 500px;
}

.wrapper--small {
    --wrapper-max-width: 600px;
}

.wrapper--large {
    --wrapper-max-width: 1200px;
}

.wrapper--larger {
    --wrapper-max-width: 1400px;
}

.wrapper--center {
    margin-right: auto;
    margin-left: auto;
}
