<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />

        <link rel="stylesheet" href="<?= url_static('assets/stylesheets/application.css') ?>">
        <script src="<?= url_static('assets/javascripts/application.js') ?>"></script>

        <title><?= $title ?></title>

        <?php if ($preserve_scroll): ?>
            <meta name="turbo-refresh-scroll" content="preserve">
        <?php endif; ?>
    </head>

    <body class="layout flow flow--small">
        <header class="layout__header cols cols--vcenter flow">
            <a class="layout__brand" href="<?= url('home') ?>">
                🛤️ <?= $brand ?>
            </a>

            <?php if ($current_user): ?>
                <div class="col--extend">
                    <a href="<?= url('workplan') ?>">
                        Plan de travail
                    </a>
                </div>

                <div><?= protect($current_user->username) ?></div>

                <form method="post" action="<?= url('log out') ?>">
                    <button class="button--small" type="submit">
                        Se déconnecter
                    </button>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>
            <?php else: ?>
                <div class="col--extend"></div>

                <a href="<?= url('login') ?>">Se connecter</a>
            <?php endif; ?>
        </header>

        <main class="layout__main wrapper wrapper--center">
            <?= $this->safe('content') ?>
        </main>
    </body>
</html>
