<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="robots" content="noindex">

        <link rel="stylesheet" href="<?= url_static('theme/main.css') ?>">

        <title><?= $title ?></title>
    </head>

    <body class="layout flow flow--small">
        <header class="layout__header cols cols--vcenter flow">
            <a href="<?= url('home') ?>">
                🛤️ <?= $brand ?>
            </a>
        </header>

        <main class="wrapper wrapper--center">
            <?= $this->safe('content') ?>

            <?php if ($environment !== 'production' && $error): ?>
                <pre class="error-box"><?= (string)$error ?></pre>
            <?php endif; ?>
        </main>
    </body>
</html>
