<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => 'Liste des tâches ⋅ ' . $space->name,
        'preserve_scroll' => true,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('tasks', ['id' => $space->id]) ?>" aria-current="page">
        Liste des tâches
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Liste des tâches</h1>

    <ul class="list--nostyle list--padded list--border">
        <?php foreach ($active_tasks as $index => $task): ?>
            <li>
                <?= $this->include('tasks/_task.phtml', [
                    'task' => $task,
                    'can_up' => false,
                    'can_down' => false,
                    'show_breadcrumb' => false,
                ]) ?>
            </li>
        <?php endforeach; ?>

        <?php if (is_authorized($current_user, 'write:space.tasks', $space)): ?>
            <li>
                <turbo-frame id="task-new">
                    <a class="button" href="<?= url('new task', ['id' => $space->id]) ?>">
                        Nouvelle tâche
                    </a>
                </turbo-frame>
            </li>
        <?php endif; ?>
    </ul>

    <?php if ($done_tasks): ?>
        <div class="flow">
            <h2>Tâches terminées</h2>

            <ul class="list--nostyle list--padded list--border text--secondary">
                <?php foreach ($done_tasks as $index => $task): ?>
                    <li>
                        <?= $this->include('tasks/_task.phtml', [
                            'task' => $task,
                            'can_up' => false,
                            'can_down' => false,
                            'show_breadcrumb' => false,
                        ]) ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
</div>
