<turbo-frame id="task-new" target="_self">
    <form
        method="post"
        action="<?= url('create task', ['id' => $space->id]) ?>"
        data-turbo-frame="_top"
    >
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="title">
                Libellé de la tâche
            </label>

            <?php if ($form->hasError('title')): ?>
                <p role="alert" id="title-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('title') ?>
                </p>
            <?php endif ?>

            <div class="cols flow flow--smaller">
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="<?= protect($form->title) ?>"
                    maxlength="255"
                    required
                    autofocus
                    class="col--size10"
                    <?php if ($form->hasError('title')): ?>
                        aria-invalid="true"
                        aria-errormessage="title-error"
                    <?php endif ?>
                />

                <button class="col--size2 button--primary" type="submit">
                    Créer
                </button>
            </div>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</turbo-frame>
