<?php
    $this->layout('base.phtml', [
        'title' => 'Supprimer une organisation',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('organisation deletion', ['id' => $organisation->id]) ?>" aria-current="page">
        Supprimer une organisation
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Supprimer une organisation</h1>

    <form class="wrapper wrapper--small wrapper--center flow" method="post" action="<?= url('delete organisation', ['id' => $organisation->id]) ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <p class="text--big text--center">
            <strong>Attention !</strong> Vous êtes sur le point de supprimer l’organisation <em><?= protect($organisation->name) ?></em> ainsi que toutes ses discussions. Êtes-vous certain⋅e de vouloir effectuer cette action ?
        </p>

        <div class="text--center">
            <button class="button--primary" type="submit" data-turbo-confirm="Vraiment certain⋅e ?">
                Supprimer l’organisation
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
