<?php
    $this->layout('base.phtml', [
        'title' => "Les organisations sur {$brand}",
    ]);
?>

<div class="flow flow--large">
    <h1 class="text--center">Les organisations sur <?= $brand ?></h1>

    <div class="flow">
        <?php if ($current_user): ?>
            <div class="text--center">
                <a class="button button--primary" href="<?= url('new organisation') ?>">
                    Nouvelle organisation
                </a>
            </div>
        <?php endif; ?>

        <?php if ($organisations): ?>
            <div class="grid">
                <?php foreach ($organisations as $organisation): ?>
                    <article class="card card--shadow">
                        <a class="card__link" href="<?= url('organisation', ['id' => $organisation->id]) ?>">
                            <div class="card__body flow flow--small">
                                <h2 class="card__title">
                                    <?= protect($organisation->name) ?>
                                </h2>
                            </div>
                        </a>
                    </article>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <p class="text--bold text--big text--center">
                Aucune organisation n’a été créée pour l’instant.
            </p>
        <?php endif; ?>
    </div>

    <?php if ($current_user && $all): ?>
        <p class="text--center text--secondary">
            <a href="<?= url('organisations') ?>">
                Voir seulement vos organisations
            </a>
        </p>
    <?php elseif ($current_user): ?>
        <p class="text--center text--secondary">
            <a href="<?= url('organisations', ['all' => true]) ?>">
                Voir toutes les organisations
            </a>
        </p>
    <?php endif; ?>
</div>
