<?php
    $this->layout('base.phtml', [
        'title' => 'Nouvelle organisation',
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Nouvelle organisation</h1>

    <form class="wrapper wrapper--small wrapper--center flow" method="post" action="<?= url('create organisation') ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="name">
                Nom de l’organisation
                <span class="text--secondary">
                    (max. 25 caractères)
                </span>
            </label>

            <?php if ($form->hasError('name')): ?>
                <p role="alert" id="name-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('name') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="name"
                name="name"
                value="<?= protect($form->name) ?>"
                maxlength="25"
                required
                <?php if ($form->hasError('name')): ?>
                    aria-invalid="true"
                    aria-errormessage="name-error"
                <?php endif ?>
            />
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                Créer l’organisation
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
