<?php
    $this->layout('base.phtml', [
        'title' => $organisation->name,
    ]);
?>

<div class="flow flow--large">
    <?php $can_write_organisations = is_authorized($current_user, 'write:organisation', $organisation); ?>
    <?php $can_read_users = is_authorized($current_user, 'read:organisation.users', $organisation); ?>
    <?php if ($can_write_organisations || $can_read_users): ?>
        <div class="block block--primary cols cols--hcenter flow">
            <?php if ($can_write_organisations): ?>
                <a href="<?= url('edit organisation', ['id' => $organisation->id]) ?>">Renommer</a>
            <?php endif; ?>

            <?php if ($can_read_users): ?>
                <a href="<?= url('users', ['id' => $organisation->id]) ?>">Gérer les membres</a>
            <?php endif; ?>

            <?php if ($can_write_organisations): ?>
                <a href="<?= url('organisation deletion', ['id' => $organisation->id]) ?>">Supprimer</a>
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <h1 class="text--center"><?= protect($organisation->name) ?></h1>

    <div class="flow">
        <?php if (is_authorized($current_user, 'write:organisation.spaces', $organisation)): ?>
            <div class="text--center">
                <a class="button button--primary" href="<?= url('new space', ['id' => $organisation->id]) ?>">
                    Nouvel espace de travail
                </a>
            </div>
        <?php endif; ?>

        <?php if ($spaces): ?>
            <div class="grid">
                <?php foreach ($spaces as $space): ?>
                    <article class="card card--shadow">
                        <a class="card__link" href="<?= url('space', ['id' => $space->id]) ?>">
                            <div class="card__body flow flow--small">
                                <h2 class="card__title">
                                    <?= protect($space->name) ?>
                                </h2>

                                <?php if ($space->description): ?>
                                    <p>
                                        <?= protect($space->description) ?>
                                    </p>
                                <?php endif; ?>

                                <?php if ($space->is_confidential): ?>
                                    <div class="text--right">
                                        <span class="badge text--smaller">
                                            confidentiel
                                        </span>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </a>
                    </article>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <p class="text--bold text--big text--center">
                Aucun espace de travail n’a été créé pour l’instant.
            </p>
        <?php endif; ?>
    </div>
</div>
