<?php
    $this->layout('base.phtml', [
        'title' => 'Nouvel espace de travail',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('new space', ['id' => $organisation->id]) ?>" aria-current="page">
        Nouvel espace de travail
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Nouvel espace de travail</h1>

    <form class="wrapper wrapper--small wrapper--center flow" method="post" action="<?= url('create space', ['id' => $organisation->id]) ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="name">
                Nom de l’espace de travail
                <span class="text--secondary">
                    (max. 200 caractères)
                </span>
            </label>

            <?php if ($form->hasError('name')): ?>
                <p role="alert" id="name-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('name') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="name"
                name="name"
                value="<?= protect($form->name) ?>"
                maxlength="200"
                required
                <?php if ($form->hasError('name')): ?>
                    aria-invalid="true"
                    aria-errormessage="name-error"
                <?php endif ?>
            />
        </div>

        <div class="flow flow--smaller">
            <label for="description">
                Description
                <span class="text--secondary">
                    (facultatif)
                </span>
            </label>

            <?php if ($form->hasError('description')): ?>
                <p role="alert" id="description-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('description') ?>
                </p>
            <?php endif ?>

            <textarea
                id="description"
                name="description"
                <?php if ($form->hasError('description')): ?>
                    aria-invalid="true"
                    aria-errormessage="description-error"
                <?php endif ?>
            ><?= protect($form->description) ?></textarea>
        </div>

        <div>
            <input
                type="checkbox"
                id="is-confidential"
                name="is_confidential"
                <?= $form->is_confidential ? 'checked' : '' ?>
            />

            <label class="label--checkbox" for="is-confidential">
                Accessible uniquement aux membres de l’organisation
            </label>
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                Créer l’espace
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
