<?php
    $this->layout('base.phtml', [
        'title' => 'Votre plan de travail',
        'preserve_scroll' => true,
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Votre plan de travail</h1>

    <?php if ($tasks_by_scheduled_at): ?>
        <?php foreach ($tasks_by_scheduled_at as $scheduled_at => $tasks): ?>
            <div class="flow">
                <?php if (!$scheduled_at): ?>
                    <h2>Non planifiées</h2>
                <?php else: ?>
                    <?php $scheduled_at = \DateTimeImmutable::createFromFormat('Y-m-d', $scheduled_at); ?>
                    <h2><?= _d($scheduled_at, 'd MMMM YYYY') ?></h2>
                <?php endif; ?>

                <ul class="list--nostyle list--padded list--border">
                    <?php foreach ($tasks as $task): ?>
                        <li>
                            <?= $this->include('tasks/_task.phtml', [
                                'task' => $task,
                                'can_up' => false,
                                'can_down' => false,
                                'show_breadcrumb' => true,
                                'from' => url('workplan'),
                            ]) ?>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p class="text--bold text--big text--center">
            Vous n’avez aucune tâche planifiée pour l’instant.<br>
            Commencez par vous assigner une tâche au sein d’un espace de travail.
        </p>
    <?php endif; ?>
</div>
