<div>
    <turbo-frame id="comment-<?= $comment->id ?>" target="_top">
        <article data-controller="comment" class="wrapper wrapper--text wrapper--center flow flow--small">
            <div class="cols cols--vcenter flow">
                <div class="col--extend text--secondary text--small">
                    <?= protect($comment->createdBy()->username) ?>
                    ⋅
                    <?= _d($comment->created_at, 'EEE d MMM') ?>
                </div>

                <?php if (is_authorized($current_user, 'write:comment', $comment)): ?>
                    <a href="<?= url('edit comment', ['id' => $comment->id]) ?>" data-turbo-frame="_self">
                        Modifier
                    </a>
                <?php endif; ?>

                <?php if (is_authorized($current_user, 'write:comment', $comment)): ?>
                    <form method="post" action="<?= url('delete comment', ['id' => $comment->id]) ?>">
                        <button class="button--small" data-turbo-confirm="Êtes-vous certain⋅e de vouloir supprimer ce commentaire ?">
                            Supprimer
                        </button>

                        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                    </form>
                <?php endif; ?>
            </div>

            <div class="text--spaced" data-comment-target="content">
                <?= $comment->contentAsHtml() ?>
            </div>
        </article>
    </turbo-frame>
</div>
