<div>
    <?php $commentReference = "comment-{$form->reference_type}-{$form->reference_id}"; ?>
    <turbo-frame id="<?= $commentReference ?>" target="_top">
        <form
            class="wrapper wrapper--text wrapper--center flow"
            method="post"
            action="<?= url('create comment') ?>"
            data-controller="autosave"
            data-autosave-namespace-value="<?= $commentReference ?>"
            data-action="turbo:submit-start@document->autosave#clear"
        >
            <?php if ($form->hasError('@global')): ?>
                <p role="alert">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('@global') ?>
                </p>
            <?php endif ?>

            <div class="flow flow--smaller">
                <label for="content">
                    Commentaire
                </label>

                <?php if ($form->hasError('content')): ?>
                    <p role="alert" id="content-error">
                        <span class="sr-only">Erreur</span>
                        <?= $form->getError('content') ?>
                    </p>
                <?php endif ?>

                <textarea
                    id="content"
                    name="content"
                    required
                    aria-describedby="content-caption"
                    <?php if ($form->hasError('content')): ?>
                        aria-invalid="true"
                        aria-errormessage="content-error"
                    <?php endif ?>
                    data-controller="text-editor"
                    data-action="text-editor#refresh keyup->autosave#save"
                ><?= protect($form->content) ?></textarea>

                <p class="text--secondary text--small" id="content-caption">
                    <a target="_blank" rel="noopener noreferrer" href="https://flus.fr/markdown">
                        Aide pour la mise en forme (Markdown)
                    </a>
                </p>
            </div>

            <div class="text--center">
                <button class="button--primary" type="submit">
                    Commenter
                </button>
            </div>

            <input type="hidden" name="reference_type" value="<?= $form->reference_type ?>" />
            <input type="hidden" name="reference_id" value="<?= $form->reference_id ?>" />
            <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
        </form>
    </turbo-frame>
</div>
