<?php
    $this->layout('base.phtml', [
        'title' => 'Connexion',
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Connexion</h1>

    <form class="flow wrapper wrapper--smaller wrapper--center" method="post" action="<?= url('log in') ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="username">
                Nom d’utilisateur
            </label>

            <?php if ($form->hasError('username')): ?>
                <p role="alert" id="username-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('username') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="username"
                name="username"
                value="<?= protect($form->username) ?>"
                maxlength="50"
                required
                autocomplete="username"
                <?php if ($form->hasError('username')): ?>
                    aria-invalid="true"
                    aria-errormessage="username-error"
                <?php endif ?>
            />
        </div>

        <div class="flow flow--smaller">
            <label for="password">
                Mot de passe
            </label>

            <?php if ($form->hasError('password')): ?>
                <p role="alert" id="password-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('password') ?>
                </p>
            <?php endif ?>


            <input
                type="password"
                id="password"
                name="password"
                autocomplete="current-password"
                required
                <?php if ($form->hasError('password')): ?>
                    aria-invalid="true"
                    aria-errormessage="password-error"
                <?php endif ?>
            />
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                Se connecter
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
