<turbo-frame id="task-<?= $task->id ?>" target="_top">
    <div class="flow">
        <?php $can_write = is_authorized($current_user, 'write:task', $task); ?>
        <div class="cols cols--vcenter flow">
            <?php if ($can_write): ?>
                <form method="post" action="<?= url('update task done', ['id' => $task->id]) ?>">
                    <?php if ($task->done_at): ?>
                        <button name="done" value="false" class="button--checkbox" role="checkbox" aria-checked="true">
                            <span class="sr-only">
                                Annuler
                            </span>
                        </button>
                    <?php else: ?>
                        <button name="done" value="true" class="button--checkbox" role="checkbox" aria-checked="false">
                            <span class="sr-only">
                                Terminer
                            </span>
                        </button>
                    <?php endif; ?>

                    <?php if (isset($from)): ?>
                        <input type="hidden" name="from" value="<?= $from ?>" />
                    <?php endif; ?>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>
            <?php endif; ?>

            <a class="col--extend link--noline" href="<?= url('task', ['id' => $task->id]) ?>">
                <?= protect($task->title) ?>

                <?php if ($task->scheduled_at): ?>
                    <span class="badge text--smaller">
                        <?= _d($task->scheduled_at, 'd MMM YYYY') ?>
                    </span>
                <?php endif; ?>

                <?php foreach ($task->assignees() as $assignee): ?>
                    <span class="badge text--smaller">
                        <?= protect($assignee->username) ?>
                    </span>
                <?php endforeach; ?>

                <?php $count_comments = $task->countComments() ?>
                <?php if ($count_comments > 0): ?>
                    <span class="badge text--smaller">
                        <?= _nf('%d commentaire', '%d commentaires', $count_comments, $count_comments) ?>
                    </span>
                <?php endif; ?>

                <?php if ($show_breadcrumb): ?>
                    <?php $space = $task->space(); ?>
                    <?php $organisation = $task->organisation(); ?>

                    <div class="text--secondary text--small">
                        <?= protect($organisation->name) ?>
                        >
                        <?= protect($space->name) ?>
                    </div>
                <?php endif; ?>
            </a>

            <?php if ($can_write): ?>
                <form method="post" action="<?= url('update task position', ['id' => $task->id]) ?>">
                    <button name="position" value="<?= $task->position - 1 ?>" class="button--small <?= $can_up ? '' : 'hidden' ?>" type="submit">
                        ⬆️
                        <span class="sr-only">
                            Monter
                        </span>
                    </button>

                    <button name="position" value="<?= $task->position + 1 ?>" class="button--small <?= $can_down ? '' : 'hidden' ?>" type="submit">
                        ⬇️
                        <span class="sr-only">
                            Descendre
                        </span>
                    </button>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>
            <?php endif; ?>
        </div>

        <?php if ($task->notes): ?>
            <details class="flow">
                <summary>Notes additionnelles</summary>

                <div class="text--spaced">
                    <?= $task->notesAsHtml() ?>
                </div>
            </details>
        <?php endif; ?>
    </div>
</turbo-frame>
