<?php
    $organisation = $task->organisation();
    $space = $task->space();

    $this->layout('base.phtml', [
        'title' => 'Modifier une tâche',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('tasks', ['id' => $space->id]) ?>">
        Liste des tâches
    </a>

    <a href="<?= url('task', ['id' => $task->id]) ?>">
        <?= protect($task->title) ?>
    </a>

    <a href="<?= url('edit task', ['id' => $task->id]) ?>" aria-current="page">
        Modifier une tâche
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Modifier une tâche</h1>

    <form
        class="wrapper wrapper--small wrapper--center flow"
        method="post"
        action="<?= url('update task', ['id' => $task->id]) ?>"
        data-controller="autosave"
        data-action="turbo:submit-start@document->autosave#clear"
    >
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="title">
                Libellé de la tâche
            </label>

            <?php if ($form->hasError('title')): ?>
                <p role="alert" id="title-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('title') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="title"
                name="title"
                value="<?= protect($form->title) ?>"
                maxlength="255"
                required
                <?php if ($form->hasError('title')): ?>
                    aria-invalid="true"
                    aria-errormessage="title-error"
                <?php endif ?>
            />
        </div>

        <div class="flow flow--smaller">
            <label for="scheduled-at">
                Date d’échéance
            </label>

            <?php if ($form->hasError('scheduled_at')): ?>
                <p role="alert" id="scheduled-at-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('scheduled_at') ?>
                </p>
            <?php endif ?>

            <input
                type="date"
                id="scheduled-at"
                name="scheduled_at"
                value="<?= protect($form->format('scheduled_at')) ?>"
                <?php if ($form->hasError('scheduled_at')): ?>
                    aria-invalid="true"
                    aria-errormessage="scheduled-at-error"
                <?php endif ?>
            />
        </div>

        <div class="flow flow--smaller">
            <label for="assignees">
                Personnes assignées à la tâche
            </label>

            <select
                id="assignees"
                name="assignees_ids[]"
                multiple
            >
                <?php foreach ($organisation->users() as $user): ?>
                    <option
                        value="<?= $user->id ?>"
                        <?= in_array($user->id, $form->assignees_ids) ? 'selected' : '' ?>
                    ><?= protect($user->username) ?></option>
                <?php endforeach; ?>
            </select>
        </div>

        <div class="flow flow--smaller">
            <label for="notes">
                Notes
            </label>

            <?php if ($form->hasError('notes')): ?>
                <p role="alert" id="notes-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('notes') ?>
                </p>
            <?php endif ?>

            <textarea
                id="notes"
                name="notes"
                aria-describedby="notes-caption"
                <?php if ($form->hasError('notes')): ?>
                    aria-invalid="true"
                    aria-errormessage="notes-error"
                <?php endif ?>
                data-controller="text-editor"
                data-action="text-editor#refresh keyup->autosave#save"
            ><?= protect($form->notes) ?></textarea>

            <p class="text--secondary text--small" id="notes-caption">
                <a target="_blank" rel="noopener noreferrer" href="https://flus.fr/markdown">
                    Aide pour la mise en forme (Markdown)
                </a>
            </p>
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                Enregistrer les modifications
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
