<?php
    $organisation = $task->organisation();
    $space = $task->space();

    $this->layout('base.phtml', [
        'title' => $task->title . ' ⋅ ' . $space->name,
        'organisation' => $organisation,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('tasks', ['id' => $space->id]) ?>">
        Liste des tâches
    </a>

    <a href="<?= url('task', ['id' => $task->id]) ?>" aria-current="page">
        <?= protect($task->title) ?>
    </a>
</div>

<div class="panel flow flow--large">
    <?php $can_write = is_authorized($current_user, 'write:task', $task); ?>

    <div class="flow">
        <?php if ($can_write): ?>
            <div class="block block--primary cols cols--hcenter cols--vcenter flow">
                <a href="<?= url('edit task', ['id' => $task->id]) ?>">Modifier</a>

                <form method="post" action="<?= url('update task done', ['id' => $task->id]) ?>">
                    <?php if ($task->done_at): ?>
                        <button class="button--small" name="done" value="false">
                            ↻ Redémarrer
                        </button>
                    <?php else: ?>
                        <button class="button--small" name="done" value="true">
                            ✅ Terminer
                        </button>
                    <?php endif; ?>

                    <input type="hidden" name="from" value="<?= url('task', ['id' => $task->id]) ?>" />
                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>

                <form method="post" action="<?= url('delete task', ['id' => $task->id]) ?>">
                    <button class="button--small" data-turbo-confirm="Êtes-vous certain⋅e de vouloir supprimer cette tâche ?">
                        Supprimer
                    </button>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>
            </div>
        <?php endif; ?>

        <h1 class="text--center"><?= protect($task->title) ?></h1>
    </div>

    <article class="wrapper wrapper--text wrapper--center flow">
        <?php if ($task->scheduled_at): ?>
            <p>
                Planifiée pour le <strong><?= _d($task->scheduled_at, 'd MMMM YYYY') ?></strong>
            </p>
        <?php else: ?>
            <p>
                Non planifiée

                <?php if ($can_write): ?>
                    (<a href="<?= url('edit task', ['id' => $task->id]) ?>">modifier</a>)
                <?php endif; ?>
            </p>
        <?php endif; ?>

        <?php $assignees = array_column($task->assignees(), 'username'); ?>
        <?php if ($assignees): ?>
            <p>
                Personne(s) assignée(s) :
                <strong>
                    <?= protect(implode(', ', $assignees)) ?>
                </strong>
            </p>
        <?php else: ?>
            <p>
                Aucune personne assignée

                <?php if ($can_write): ?>
                    (<a href="<?= url('edit task', ['id' => $task->id]) ?>">modifier</a>)
                <?php endif; ?>
            </p>
        <?php endif; ?>

        <div class="text--spaced text--big">
            <?= $task->notesAsHtml() ?>
        </div>
    </article>

    <?php foreach ($task->comments() as $comment): ?>
        <?= $this->include('comments/_comment.phtml', ['comment' => $comment]) ?>
    <?php endforeach; ?>

    <?php if (is_authorized($current_user, 'write:space.comments', $space)): ?>
        <?= $this->include('comments/_new.phtml', ['form' => $commentForm]) ?>
    <?php endif; ?>

    <div></div>
</div>
