<li>
    <a class="link--noline cols" href="<?= url('discussion', ['id' => $discussion->id]) ?>">
        <div class="flow flow--smaller col--extend">
            <?= protect($discussion->title) ?>
            <div class="text--secondary text--small">
                <?= protect($discussion->createdBy()->username) ?>
                ⋅
                <?= _d($discussion->created_at, 'EEE d MMM') ?>
            </div>
        </div>

        <?php $count_comments = $discussion->countComments() ?>
        <?php if ($count_comments > 0): ?>
            <div>
                <span class="badge">
                    <?= _nf('%d commentaire', '%d commentaires', $count_comments, $count_comments) ?>
                </span>
            </div>
        <?php endif; ?>
    </a>
</li>
