<?php
    $organisation = $discussion->organisation();
    $space = $discussion->space();

    $this->layout('base.phtml', [
        'title' => 'Supprimer une discussion',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('discussions', ['id' => $space->id]) ?>">
        Discussions
    </a>

    <?php if ($discussion->archived_at): ?>
        <a href="<?= url('archives', ['id' => $space->id]) ?>">
            Archives
        </a>
    <?php endif; ?>

    <a href="<?= url('discussion', ['id' => $discussion->id]) ?>">
        <?= protect($discussion->title) ?>
    </a>

    <a href="<?= url('discussion deletion', ['id' => $discussion->id]) ?>" aria-current="page">
        Supprimer une discussion
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Supprimer une discussion</h1>

    <form class="wrapper wrapper--small wrapper--center flow" method="post" action="<?= url('delete discussion', ['id' => $discussion->id]) ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <p class="text--big text--center">
            <strong>Attention !</strong> Vous êtes sur le point de supprimer la discussion <em><?= protect($discussion->title) ?></em>. Êtes-vous certain⋅e de vouloir effectuer cette action ?
        </p>

        <div class="text--center">
            <button class="button--primary" type="submit" data-turbo-confirm="Vraiment certain⋅e ?">
                Supprimer la discussion
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
