<?php
    $organisation = $discussion->organisation();
    $space = $discussion->space();

    $this->layout('base.phtml', [
        'title' => $discussion->title . ' ⋅ ' . $space->name,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('discussions', ['id' => $space->id]) ?>">
        Discussions
    </a>

    <?php if ($discussion->archived_at): ?>
        <a href="<?= url('archives', ['id' => $space->id]) ?>">
            Archives
        </a>
    <?php endif; ?>

    <a href="<?= url('discussion', ['id' => $discussion->id]) ?>" aria-current="page">
        <?= protect($discussion->title) ?>
    </a>
</div>

<div class="panel flow flow--large">
    <div class="flow">
        <?php if (is_authorized($current_user, 'write:discussion', $discussion)): ?>
            <div class="block block--primary cols cols--hcenter cols--vcenter flow">
                <a href="<?= url('edit discussion', ['id' => $discussion->id]) ?>">Modifier</a>

                <a href="<?= url('discussion deletion', ['id' => $discussion->id]) ?>">Supprimer</a>

                <form method="post" action="<?= url('archive discussion', ['id' => $discussion->id]) ?>">
                    <?php if ($discussion->archived_at): ?>
                        <button name="archive" value="false" class="button--small">
                            Désarchiver
                        </button>
                    <?php else: ?>
                        <button name="archive" value="true" class="button--small">
                            🗃️ Archiver
                        </button>
                    <?php endif; ?>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>

                <form method="post" action="<?= url('pin discussion', ['id' => $discussion->id]) ?>">
                    <?php if ($discussion->pinned_at): ?>
                        <button name="pin" value="false" class="button--small">
                            Désépingler
                        </button>
                    <?php else: ?>
                        <button name="pin" value="true" class="button--small">
                            📌 Épingler
                        </button>
                    <?php endif; ?>

                    <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
                </form>
            </div>
        <?php endif; ?>

        <?php if ($discussion->archived_at): ?>
            <div class="text--center flow flow--small">
                <p>
                    Cette discussion a été archivée le <?= _d($discussion->archived_at, 'dd MMMM yyyy') ?>.
                </p>
            </div>
        <?php endif; ?>

        <h1 class="text--center"><?= protect($discussion->title) ?></h1>

        <div class="text--center">
            <?= protect($discussion->createdBy()->username) ?>
            ⋅
            <?= _d($discussion->created_at) ?>
        </div>
    </div>

    <article class="wrapper wrapper--text wrapper--center">
        <div class="text--spaced text--big">
            <?= $discussion->descriptionAsHtml() ?>
        </div>
    </article>

    <?php foreach ($discussion->comments() as $comment): ?>
        <?= $this->include('comments/_comment.phtml', ['comment' => $comment]) ?>
    <?php endforeach; ?>

    <?php if (is_authorized($current_user, 'write:space.comments', $space)): ?>
        <?= $this->include('comments/_new.phtml', ['form' => $commentForm]) ?>
    <?php endif; ?>

    <div></div>
</div>
