<?php
    $this->layout('error.phtml', [
        'title' => 'Une erreur est survenue',
        'error' => $error,
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Une erreur est survenue</h1>

    <p class="text--big text--center">
        Déso quelque chose est cassé ! Ça reviendra bientôt en ligne… ou pas ?
    </p>

    <p class="text--center">
        <a class="button button--primary" href="<?= url('home') ?>">
            Revenir à la page d’accueil
        </a>
    </p>
</div>
