<?php
    $this->layout('error.phtml', [
        'title' => 'Page non trouvée',
        'error' => $error,
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Page non trouvée</h1>

    <p class="text--big text--center">
        Désolé cette page existe pas !
    </p>

    <p class="text--center">
        <a class="button button--primary" href="<?= url('home') ?>">
            Revenir à la page d’accueil
        </a>
    </p>
</div>
