.badge {
    display: inline-block;
    min-width: 1.8rem;
    padding: 0.25rem 0.5rem;

    text-align: center;

    background-color: var(--color-grey4);
    border-radius: 2rem;
}

.badge--border {
    border: 1px solid var(--color-grey6);
}

.badge--primary {
    color: white;

    background-color: var(--color-primary9);
}
