.breadcrumb {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    align-items: baseline;
    flex-wrap: wrap;

    line-height: 1.5;

    background-color: var(--color-grey1);
    border: 1px solid var(--color-grey6);
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
}

.breadcrumb > *:not(:last-child)::after {
    content: "";

    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: -0.1rem;
    margin-right: 0.6rem;
    margin-left: 0.2rem;

    vertical-align: middle;

    border-top: 0.1rem solid var(--color-primary9);
    border-right: 0.1rem solid var(--color-primary9);

    transform: rotate(45deg);
}

.breadcrumb > [aria-current="page"] {
    text-decoration: none;
}
