button,
.button {
    display: inline-block;
    padding: 0.5rem 1.2rem;

    color: var(--color-grey12);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;
    text-decoration: none;

    background-color: var(--color-grey3);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 5%));
    box-shadow: 0 1px 2px var(--color-box-shadow);
    border: 1px solid var(--color-grey8);
    border-radius: 2rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:not([disabled]):hover,
button:not([disabled]):focus,
.button:not([aria-disabled]):hover,
.button:not([aria-disabled]):focus {
    background-color: var(--color-grey4);
}

button:not([disabled]):active,
.button:not([aria-disabled]):active {
    background-color: var(--color-grey5);
}

button[disabled],
.button[aria-disabled] {
    color: var(--color-grey11);

    border-color: var(--color-grey7);

    outline: none;

    cursor: not-allowed;
    pointer-events: none;
}

.button--primary {
    color: var(--color-primary12);

    background-color: var(--color-primary6);
    border-color: var(--color-primary8);
}

.button--primary:not([disabled]):hover,
.button--primary:not([disabled]):focus,
.button--primary:not([aria-disabled]):hover,
.button--primary:not([aria-disabled]):focus {
    background-color: var(--color-primary7);
}

.button--primary:not([disabled]):active,
.button--primary:not([aria-disabled]):active {
    background-color: var(--color-primary8);
}

.button--primary[disabled],
.button--primary[aria-disabled] {
    color: var(--color-primary11);

    border-color: var(--color-primary7);
}

.button--small {
    padding: 0.25rem 0.7rem;

    font-size: 0.9em;
}

.button--checkbox {
    position: relative;

    width: 2rem;
    height: 2rem;
    padding: 0;

    background-color: var(--color-grey1);
    box-shadow: 0px 1px 2px var(--color-box-shadow) inset;
    border: 1px solid var(--color-grey8);
    border-radius: 0.5rem;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.button--checkbox:hover,
.button--checkbox:focus {
    background-color: var(--color-primary2);
    border-color: var(--color-primary8);
}

.button--checkbox[aria-checked="true"] {
    border-color: var(--color-success9);
}

.button--checkbox[aria-checked="true"]::before {
    content: "";

    position: absolute;
    top: 0.4rem;
    left: 0.4rem;

    width: 1.2rem;
    height: 0.8rem;

    border-bottom: 0.3rem solid var(--color-success9);
    border-left: 0.3rem solid var(--color-success9);

    transform: rotate(-45deg);
}
