.card {
    background-color: var(--color-grey1);
    border: 1px solid var(--color-grey6);
    border-radius: 0.25rem;
}

.card--shadow {
    box-shadow: 0px 1px 3px var(--color-box-shadow);
}

.card__title {
    font-weight: bold;
    font-size: 1.1em;
}

.card__link {
    display: block;
    height: 100%;

    text-decoration: none;
}

.card__header {
    padding: 0.5rem 1rem;

    border-bottom: 1px solid var(--color-grey6);
}

.card__body {
    height: 100%;
    padding: 1rem;
}

.card__body--center {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
