.cols {
    display: flex;

    align-items: stretch;
}

.cols--vcenter {
    align-items: center;
}

.cols--hcenter {
    justify-content: center;
}

.cols.flow > * + * {
    margin-top: 0;
    margin-left: var(--flow-size);
}

.col--extend {
    flex: 1;
}

.col--size1 {
    flex-basis: calc(1 * 100% / 12);
}

.col--size2 {
    flex-basis: calc(2 * 100% / 12);
}

.col--size3 {
    flex-basis: calc(3 * 100% / 12);
}

.col--size4 {
    flex-basis: calc(4 * 100% / 12);
}

.col--size5 {
    flex-basis: calc(5 * 100% / 12);
}

.col--size6 {
    flex-basis: calc(6 * 100% / 12);
}

.col--size7 {
    flex-basis: calc(7 * 100% / 12);
}

.col--size8 {
    flex-basis: calc(8 * 100% / 12);
}

.col--size9 {
    flex-basis: calc(9 * 100% / 12);
}

.col--size10 {
    flex-basis: calc(10 * 100% / 12);
}

.col--size11 {
    flex-basis: calc(11 * 100% / 12);
}
