label {
    display: block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

input,
textarea {
    width: 100%;
    padding: 0.30rem 0.75rem;

    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;

    background-color: var(--color-grey1);
    box-shadow: 1px 1px 2px var(--color-box-shadow) inset;
    border: 1px solid var(--color-grey8);
    border-radius: 0.25rem;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

textarea {
    max-height: 15rem;
}

/**
 * Accessible custom checkboxes and radio buttons.
 * @see https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
 */
input[type="checkbox"],
input[type="radio"] {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;

    display: inline-flex;

    align-items: center;
}

input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label {
    color: var(--color-grey11);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";

    position: relative;

    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    flex-shrink: 0;

    background-color: var(--color-grey1);
    box-shadow: 0px 1px 2px var(--color-box-shadow) inset;
    border: 1px solid var(--color-grey8);
    border-radius: 0.25rem;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type="radio"] + label::before {
    border-radius: 50%;
}

input[type="checkbox"]:focus + label::before {
    outline: 2px solid var(--color-primary9);
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    border-color: var(--color-grey11);
}

input[type="checkbox"]:not([disabled]):hover + label::before,
input[type="checkbox"]:not([disabled]):focus + label::before,
input[type="radio"]:not([disabled]):hover + label::before,
input[type="radio"]:not([disabled]):focus + label::before {
    background-color: var(--color-primary2);
    border-color: var(--color-primary8);
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    content: "";

    position: absolute;
    left: 0.95rem;

    width: 0.65rem;
    height: 0.4rem;
    margin-top: -0.2rem;

    border-bottom: 0.15rem solid var(--color-grey12);
    border-left: 0.15rem solid var(--color-grey12);

    transform: rotate(-45deg);
}

input[type="radio"]:checked + label::after {
    height: 0.6rem;
    margin-top: 0;

    background-color: var(--color-grey12);
    border-top: 0.25rem solid var(--color-grey12);
    border-right: 0.25rem solid var(--color-grey12);
    border-radius: 50%;
}

select {
    width: 100%;
    padding: 0.30rem 0.75rem;

    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;

    background-color: var(--color-grey1);
    box-shadow: 1px 1px 2px var(--color-box-shadow) inset;
    border: 1px solid var(--color-grey8);
    border-radius: 0.25rem;
}
