.list--nostyle {
    padding: 0;

    list-style: none;
}

.list--padded > li {
    padding: 1rem 1.75rem;
}

.list--border {
    border: 2px solid var(--color-grey6);
    border-radius: 0.5rem;
}

.list--border > li + li {
    border-top: 2px solid var(--color-grey6);
}
