<?php
    $this->layout('base.phtml', [
        'title' => "Bienvenue sur {$brand}",
    ]);
?>

<div class="flow flow--large">
    <h1 class="text--center">Bienvenue sur <?= $brand ?></h1>

    <div class="wrapper wrapper--text wrapper--center text--center flow">
        <p>
            <?= $brand ?> est un espace de discussions et de gestion de projets destinés
             à des communautés. Pour l’instant, vous pouvez le voir comme un forum
             très minimaliste.
        </p>

        <p>
             Les organisations permettent à n’importe quelle communauté de
             créer son propre espace de discussions.
        </p>

        <p class="text--big">
            <a href="<?= url('organisations') ?>">
                Découvrir les organisations
            </a>
        </p>
    </div>
</div>
