<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => 'Supprimer un espace de travail',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('space deletion', ['id' => $space->id]) ?>" aria-current="page">
        Supprimer un espace de travail
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Supprimer un espace de travail</h1>

    <form class="wrapper wrapper--small wrapper--center flow" method="post" action="<?= url('delete space', ['id' => $space->id]) ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <p class="text--big text--center">
            <strong>Attention !</strong> Vous êtes sur le point de supprimer l’espace de travail <em><?= protect($space->name) ?></em> ainsi que toutes ses discussions. Êtes-vous certain⋅e de vouloir effectuer cette action ?
        </p>

        <div class="text--center">
            <button class="button--primary" type="submit" data-turbo-confirm="Vraiment certain⋅e ?">
                Supprimer l’espace de travail
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
