<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => $space->name,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>" aria-current="page">
        <?= protect($space->name) ?>
    </a>
</div>

<div class="panel flow flow--large">
    <?php if (is_authorized($current_user, 'write:space', $space)): ?>
        <div class="block block--primary cols cols--hcenter flow">
            <a href="<?= url('edit space', ['id' => $space->id]) ?>">Modifier</a>

            <a href="<?= url('space deletion', ['id' => $space->id]) ?>">Supprimer</a>
        </div>
    <?php endif; ?>

    <div class="text--center flow">
        <h1><?= protect($space->name) ?></h1>

        <?php if ($space->description): ?>
            <p>
                <?= protect($space->description) ?>
            </p>
        <?php endif; ?>

        <?php if ($space->is_confidential): ?>
            <span class="badge text--smaller">
                confidentiel
            </span>
        <?php endif; ?>
    </div>

    <div class="grid">
        <article class="card card--shadow">
            <a class="card__link" href="<?= url('discussions', ['id' => $space->id]) ?>">
                <div class="card__body flow flow--small">
                    <h2 class="card__title">
                        Discussions
                    </h2>
                </div>
            </a>
        </article>

        <article class="card card--shadow">
            <a class="card__link" href="<?= url('tasks', ['id' => $space->id]) ?>">
                <div class="card__body flow flow--small">
                    <h2 class="card__title">
                        Liste des tâches
                    </h2>
                </div>
            </a>
        </article>
    </div>
</div>
