<?php
    $this->layout('base.phtml', [
        'title' => 'Membres ⋅ ' . $organisation->name,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('users', ['id' => $organisation->id]) ?>" aria-current="page">
        Membres
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Membres</h1>

    <?php if (is_authorized($current_user, 'write:organisation.users', $organisation)): ?>
        <p class="wrapper wrapper--small wrapper--center">
            Invitez des personnes dans votre organisation en leur partageant le lien ci-dessous :<br>
            <?= url_full('registration', ['i' => $organisation->invitation_token_id]) ?>
        </p>
    <?php endif; ?>

    <div class="flow">
        <?php if ($users): ?>
            <ul class="list--nostyle list--padded list--border">
                <?php foreach ($users as $user): ?>
                    <li>
                        <?= protect($user->username) ?>

                        <?php if ($current_user->id === $user->id): ?>
                            (vous)
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <p class="text--bold text--big text--center">
                Il n’y a aucun membre pour l’instant.
            </p>
        <?php endif; ?>
    </div>
</div>
