<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => 'Discussions archivées ⋅ ' . $space->name,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('discussions', ['id' => $space->id]) ?>">
        Discussions
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Archives</h1>

    <div class="flow">
        <?php if ($discussions): ?>
            <ul class="list--nostyle list--padded list--border">
                <?php foreach ($discussions as $discussion): ?>
                    <?= $this->include('discussions/_discussion.phtml', [
                        'discussion' => $discussion,
                    ]) ?>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <p class="text--bold text--big text--center">
                Il n’y a aucune archive pour l’instant.
            </p>
        <?php endif; ?>
    </div>
</div>
