<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => 'Discussions ⋅ ' . $space->name,
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('discussions', ['id' => $space->id]) ?>" aria-current="page">
        Discussions
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Discussions</h1>

    <div class="flow flow--large">
        <?php if (is_authorized($current_user, 'write:space.discussions', $space)): ?>
            <div class="text--center">
                <a class="button button--primary" href="<?= url('new discussion', ['id' => $space->id]) ?>">
                    Nouvelle discussion
                </a>
            </div>
        <?php endif; ?>

        <?php if ($pinned_discussions): ?>
            <div class="flow">
                <h2 class="text--small">📌 Épinglées</h2>

                <ul class="list--nostyle list--padded list--border">
                    <?php foreach ($pinned_discussions as $discussion): ?>
                        <?= $this->include('discussions/_discussion.phtml', [
                            'discussion' => $discussion,
                        ]) ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php if ($pinned_discussions && $unpinned_discussions): ?>
            <hr>
        <?php endif; ?>

        <?php if ($unpinned_discussions): ?>
            <ul class="list--nostyle list--padded list--border">
                <?php foreach ($unpinned_discussions as $discussion): ?>
                    <?= $this->include('discussions/_discussion.phtml', [
                        'discussion' => $discussion,
                    ]) ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>

        <?php if (!$pinned_discussions && !$unpinned_discussions): ?>
            <p class="text--bold text--big text--center">
                Il n’y a aucune discussion pour l’instant.
            </p>
        <?php endif; ?>

        <?php if ($count_archives > 0): ?>
            <div class="text--center">
                <a href="<?= url('archives', ['id' => $space->id]) ?>">
                    🗃️ <?= _nf('%d discussion archivée', '%d discussions archivées', $count_archives, $count_archives) ?>
                </a>
            </div>
        <?php endif; ?>
    </div>
</div>
