<?php
    $organisation = $space->organisation();

    $this->layout('base.phtml', [
        'title' => 'Nouvelle discussion',
    ]);
?>

<div class="breadcrumb">
    <a href="<?= url('organisation', ['id' => $organisation->id]) ?>">
        <?= protect($organisation->name) ?>
    </a>

    <a href="<?= url('space', ['id' => $space->id]) ?>">
        <?= protect($space->name) ?>
    </a>

    <a href="<?= url('discussions', ['id' => $space->id]) ?>">
        Discussions
    </a>

    <a href="<?= url('new discussion', ['id' => $space->id]) ?>" aria-current="page">
        Nouvelle discussion
    </a>
</div>

<div class="panel flow flow--large">
    <h1 class="text--center">Nouvelle discussion</h1>

    <form
        class="wrapper wrapper--small wrapper--center flow"
        method="post"
        action="<?= url('create discussion', ['id' => $space->id]) ?>"
        data-controller="autosave"
        data-action="turbo:submit-start@document->autosave#clear"
    >
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="title">
                Titre de la discussion
            </label>

            <?php if ($form->hasError('title')): ?>
                <p role="alert" id="title-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('title') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="title"
                name="title"
                value="<?= protect($form->title) ?>"
                maxlength="255"
                required
                <?php if ($form->hasError('title')): ?>
                    aria-invalid="true"
                    aria-errormessage="title-error"
                <?php endif ?>
                data-action="keyup->autosave#save"
            />
        </div>

        <div class="flow flow--smaller">
            <label for="description">
                Contenu
            </label>

            <?php if ($form->hasError('description')): ?>
                <p role="alert" id="description-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('description') ?>
                </p>
            <?php endif ?>

            <textarea
                id="description"
                name="description"
                required
                aria-describedby="description-caption"
                <?php if ($form->hasError('description')): ?>
                    aria-invalid="true"
                    aria-errormessage="description-error"
                <?php endif ?>
                data-controller="text-editor"
                data-action="text-editor#refresh keyup->autosave#save"
            ><?= protect($form->description) ?></textarea>

            <p class="text--secondary text--small" id="description-caption">
                <a target="_blank" rel="noopener noreferrer" href="https://flus.fr/markdown">
                    Aide pour la mise en forme (Markdown)
                </a>
            </p>
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                Démarrer la discussion
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
