@import "_reset.css";
@import "_colors.css";
@import "utils/flow.css";
@import "utils/text.css";
@import "utils/wrapper.css";
@import "components/badges.css";
@import "components/blocks.css";
@import "components/breadcrumbs.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/cols.css";
@import "components/forms.css";
@import "components/grids.css";
@import "components/links.css";
@import "components/lists.css";
@import "components/panels.css";
@import "components/titles.css";
@import "layout/header.css";
@import "layout/main.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 120%;
    line-height: 1.3;
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-grey12);
    font-family:
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;

    background-color: var(--color-primary2);
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.hidden {
    visibility: hidden;
}

hr {
    max-width: 50%;

    border: 2px solid var(--color-grey6);
    border-radius: 5px;
}
