<?php
    $this->layout('base.phtml', [
        'title' => 'Inscription',
    ]);
?>

<div class="panel flow flow--large">
    <h1 class="text--center">Inscription</h1>

    <form class="flow wrapper wrapper--smaller wrapper--center" method="post" action="<?= url('register', ['i' => $form->invitation_token_id]) ?>">
        <?php if ($form->hasError('@global')): ?>
            <p role="alert">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('@global') ?>
            </p>
        <?php endif ?>

        <?php if ($form->hasError('invitation_token_id')): ?>
            <p role="alert" id="invitation-token-id-error">
                <span class="sr-only">Erreur</span>
                <?= $form->getError('invitation_token_id') ?>
            </p>
        <?php endif ?>

        <div class="flow flow--smaller">
            <label for="username">
                Nom d’utilisateur
                <small class="text--secondary">
                    (uniquement lettres et chiffres, max 50 caractères)
                </small>
            </label>

            <?php if ($form->hasError('username')): ?>
                <p role="alert" id="username-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('username') ?>
                </p>
            <?php endif ?>

            <input
                type="text"
                id="username"
                name="username"
                value="<?= protect($form->username) ?>"
                maxlength="50"
                required
                autocomplete="username"
                <?php if ($form->hasError('username')): ?>
                    aria-invalid="true"
                    aria-errormessage="username-error"
                <?php endif ?>
            />
        </div>

        <div class="flow flow--smaller">
            <label for="password">
                Mot de passe
            </label>

            <?php if ($form->hasError('password_hash')): ?>
                <p role="alert" id="password-error">
                    <span class="sr-only">Erreur</span>
                    <?= $form->getError('password_hash') ?>
                </p>
            <?php endif ?>

            <input
                type="password"
                id="password"
                name="password"
                autocomplete="new-password"
                required
                <?php if ($form->hasError('password_hash')): ?>
                    aria-invalid="true"
                    aria-errormessage="password-error"
                <?php endif; ?>
            />
        </div>

        <div class="text--center">
            <button class="button--primary" type="submit">
                S’inscrire
            </button>
        </div>

        <input type="hidden" name="csrf" value="<?= $csrf_token ?>" />
    </form>
</div>
